body {
    display: grid;
    grid-template-columns: 1fr 900px 1fr;
    align-items: center;
    justify-content: center;
    margin: 0;
    background-color: peachpuff;
}



.settings {
    display: flex;
    flex-direction: column;
    margin: 1vh 2vw 0;
    padding: 40vh 0;
    background-color: powderblue;
    border-style: solid;
    border-color: black;
    border-radius: 32px;
}

.blackButton, .rainbowButton {

}

.toy {
    width: 900px;
    margin: 1vh auto;
    border-style: solid;
    border-color: black;
    border-radius: 32px;
    background-color: crimson;
}

.toyTop {
    height: auto;
    padding: 3vh 0 0;
    color: goldenrod;
    text-align: center;
    font-size: 2em;
    line-height: 2;
    font-family: fantasy;
}

.sketchContainer {
    display: grid;
    width: 600px;
    height: 500px;
    margin: 0 auto;
    grid-auto-rows: auto;
    border-style: outset;
    border-color: black;
    border-radius: 8px;
    background-color: lightgray;
}

.sketchBox {
    background-color: lightgray;
    z-index: 2;
}

.toyBottom {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: auto;
    width: 100%;
}

.setButton, .shakeButton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50vw;
    max-width: 125px;
    height: 40vh;
    max-height: 125px;
    margin: 1vh 1vw;
    text-align: center;
    font-size: 2em;
    font-family: cursive;
    line-height: 2;
    background-color: white;
    color: goldenrod;
    border-radius: 100%;
}